GITHUB_ACCESS_TOKEN = "YOUR_GITHUB_ACCESS_TOKEN"
GITHUB_USERNAME = "YOUR_GITHUB_USERNAME"
GITHUB_BASE_URL = "https://api.github.com"

TELEGRAM_TOKEN = "YOUR_TELEGRAM_TOKEN"
TELEGRAM_URL = f"https://api.telegram.org/bot{TELEGRAM_TOKEN}/sendMessage"

TELEGRAM_CHAT = "YOUR_TELEGRAM_CHAT"
