GITHUB_ACCESS_TOKEN = "YOUR_GITHUB_ACCESS_TOKEN"
GITHUB_USERNAME = "YOUR_GITHUB_USERNAME"
GITHUB_BASE_URL = "https://api.github.com"

TELEGRAM_TOKEN = "YOUR_TELEGRAM_TOKEN"
TELEGRAM_URL = f"https://api.telegram.org/bot{TELEGRAM_TOKEN}/sendMessage"

TELEGRAM_CHAT = "YOUR_TELEGRAM_CHAT"

TWITTER_API_KEY = "YOUR_TWITTER_API_KEY"
TWITTER_API_SECRET = "YOUR_TWITTER_API_SECRET"
TWITTER_ACCESS_TOKEN = "YOUR_TWITTER_ACCESS_TOKEN"
TWITTER_ACCESS_TOKEN_SECRET = "YOUR_TWITTER_ACCESS_TOKEN_SECRET"
TWITTER_BEARER_TOKEN = "YOUR_TWITTER_BEARER_TOKEN"
